In [321]:
import pandas as pd

In [323]:
df_2012=pd.read_csv('ECNBASIC2012.EC1262A1-Data.csv')
df_2017=pd.read_csv('ECNBASIC2017.EC1700BASIC-Data.csv',low_memory=False)
df_2022=pd.read_csv('ECNBASIC2022.EC2262BASIC-Data.csv',low_memory=False)

In [324]:
df_2012

,GEO_ID,NAME,NAICS2012,SUBSECTOR,INDGROUP,INDLEVEL,SECTOR,NAICS2012_LABEL,TAXSTAT,TAXSTAT_LABEL,YEAR,ESTAB,RCPTOT,OPEX,PAYANN,PAYQTR1,EMP,ADMIN_PCT,IMPUT_PCT,Unnamed: 19
0,Geographic identifier code,Geographic Area Name,2012 NAICS code,SUBSECTOR,Industry group,Industry level,NAICS economic sector,Meaning of NAICS code,Tax status code,Meaning of Tax status code,Year,Number of establishments,"Sales, value of shipments, or revenue ($1,000)","Operating expenses ($1,000)","Annual payroll ($1,000)","First-quarter payroll ($1,000)",Number of employees,"Percent of sales, receipts, or revenue from ad...","Percent of sales, receipts, or revenue estimat...",NaN
1,0500000US01001,"Autauga County, Alabama",62,NaN,NaN,2,62,Health care and social assistance,00,All establishments,2012,95,119403,N,46154,10967,1580,26.8,8.6,NaN
2,0500000US01001,"Autauga County, Alabama",62,NaN,NaN,2,62,Health care and social assistance,T,Establishments subject to federal income tax,2012,77,D,N,D,D,"1,000 to 2,499 employees",D,D,NaN
3,0500000US01001,"Autauga County, Alabama",62,NaN,NaN,2,62,Health care and social assistance,Y,Establishments exempt from federal income tax,2012,18,D,D,D,D,250 to 499 employees,D,D,NaN
4,0500000US01003,"Baldwin County, Alabama",62,NaN,NaN,2,62,Health care and social assistance,00,All establishments,2012,444,622454,N,265337,63828,7029,22.4,8.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9295,0500000US56043,"Washakie County, Wyoming",62,NaN,NaN,2,62,Health care and social assistance,T,Establishments subject to federal income tax,2012,19,15737,N,7536,1725,231,36.8,2.9,NaN
9296,0500000US56043,"Washakie County, Wyoming",62,NaN,NaN,2,62,Health care and social assistance,Y,Establishments exempt from federal income tax,2012,10,35910,32781,15430,3978,556,2.9,0.0,NaN
9297,0500000US56045,"Weston County, Wyoming",62,NaN,NaN,2,62,Health care and social assistance,00,All establishments,2012,24,25332,N,10474,2571,352,6.5,6.3,NaN
9298,0500000US56045,"Weston County, Wyoming",62,NaN,NaN,2,62,Health care and social assistance,T,Establishments subject to federal income tax,2012,15,8971,N,2989,701,98,8.7,17.2,NaN
9299,0500000US56045,"Weston County, Wyoming",62,NaN,NaN,2,62,Health care and social assistance,Y,Establishments exempt from federal income tax,2012,9,16361,15068,7485,1870,254,5.3,0.4,NaN

In [325]:
df_2017

,GEO_ID,NAME,NAICS2017,NAICS2017_LABEL,TYPOP,TYPOP_LABEL,TAXSTAT,TAXSTAT_LABEL,YEAR,FIRM,ESTAB,RCPTOT,PAYANN,PAYQTR1,EMP,RCPTOT_IMP,PAYANN_IMP,EMP_IMP,Unnamed: 18
0,Geographic identifier code,Geographic Area Name,2017 NAICS code,Meaning of NAICS code,Type of operation code,Meaning of Type of operation code,Tax status code,Meaning of Tax status code,Year,Number of firms,Number of establishments,"Sales, value of shipments, or revenue ($1,000)","Annual payroll ($1,000)","First-quarter payroll ($1,000)",Number of employees,"Range indicating percent of total sales, value...",Range indicating percent of total annual payro...,Range indicating percent of total employees im...,NaN
1,0500000US01001,"Autauga County, Alabama",22,Utilities,00,All establishments,00,All establishments,2017,4,8,Q,17767,4704,171,Q,Less than 10%,Less than 10%,NaN
2,0500000US01001,"Autauga County, Alabama",31-33,Manufacturing,00,All establishments,00,All establishments,2017,23,23,760106,79721,18410,1152,10% to less than 20%,10% to less than 20%,20% to less than 30%,NaN
3,0500000US01001,"Autauga County, Alabama",42,Wholesale trade,10,"Merchant wholesalers, except manufacturers' sa...",00,All establishments,2017,23,24,206175,13710,3901,229,Less than 10%,Less than 10%,Less than 10%,NaN
4,0500000US01001,"Autauga County, Alabama",44-45,Retail trade,00,All establishments,00,All establishments,2017,155,170,666340,60147,15089,2701,Less than 10%,10% to less than 20%,10% to less than 20%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60748,0500000US56045,"Weston County, Wyoming",62,Health care and social assistance,00,All establishments,T,Establishments subject to federal income tax,2017,13,14,8512,3838,907,110,10% to less than 20%,Less than 10%,Less than 10%,NaN
60749,0500000US56045,"Weston County, Wyoming",62,Health care and social assistance,00,All establishments,Y,Establishments exempt from federal income tax,2017,8,8,22648,10220,2527,243,Less than 10%,Less than 10%,Less than 10%,NaN
60750,0500000US56045,"Weston County, Wyoming",72,Accommodation and food services,00,All establishments,00,All establishments,2017,22,22,7118,1825,384,152,10% to less than 20%,10% to less than 20%,10% to less than 20%,NaN
60751,0500000US56045,"Weston County, Wyoming",81,Other services (except public administration),00,All establishments,00,All establishments,2017,9,9,3631,1079,247,33,Less than 10%,Less than 10%,Less than 10%,NaN
60752,0500000US56045,"Weston County, Wyoming",81,Other services (except public administration),00,All establishments,T,Establishments subject to federal income tax,2017,D,D,D,D,D,20 to 99 employees,D,D,D,NaN

In [326]:
df_2017.columns=df_2017.iloc[0].tolist()
df_2022.columns=df_2022.iloc[0].tolist()

In [327]:
df_2017=df_2017.iloc[1:,]
df_2022=df_2022.iloc[1:,]

In [328]:
df_2017.columns,df_2022.columns

(Index([                                                     'Geographic identifier code',
                                                                   'Geographic Area Name',
                                                                        '2017 NAICS code',
                                                                  'Meaning of NAICS code',
                                                                 'Type of operation code',
                                                      'Meaning of Type of operation code',
                                                                        'Tax status code',
                                                             'Meaning of Tax status code',
                                                                                   'Year',
                                                                        'Number of firms',
                                                               'Number of establishments',
                                         'Sales, value of shipments, or revenue ($1,000)',
                                                                'Annual payroll ($1,000)',
                                                         'First-quarter payroll ($1,000)',
                                                                    'Number of employees',
        'Range indicating percent of total sales, value of shipments, or revenue imputed',
                               'Range indicating percent of total annual payroll imputed',
                                    'Range indicating percent of total employees imputed',
                                                                                      nan],
       dtype='object'),
 Index([                                                        'Geographic identifier code',
                                                                      'Geographic Area Name',
                                                                           '2022 NAICS code',
                                                                     'Meaning of NAICS code',
                                                                           'Tax status code',
                                                                'Meaning of Tax status code',
                                                                                      'Year',
                                                                           'Number of firms',
                                                                  'Number of establishments',
                                            'Sales, value of shipments, or revenue ($1,000)',
                                                                   'Annual payroll ($1,000)',
                                                            'First-quarter payroll ($1,000)',
                                                                       'Number of employees',
                                                               'Operating expenses ($1,000)',
        'Range indicating imputed percentage of total sales, value of shipments, or revenue',
                               'Range indicating imputed percentage of total annual payroll',
                                    'Range indicating imputed percentage of total employees',
                                                                                         nan],
       dtype='object'))

In [329]:
df_2017['Type of operation code'].value_counts()

Type of operation code
00    57879
10     2873
Name: count, dtype: int64

In [342]:
df_2017=df_2017[['Geographic Area Name','2017 NAICS code','Meaning of NAICS code','Year','Number of firms','Number of establishments']]
df_2022=df_2022[['Geographic Area Name','2022 NAICS code','Meaning of NAICS code','Year','Number of firms','Number of establishments']]
df_2022.rename(columns={'2022 NAICS code':'NAICS code'},inplace=True)
df_2017.rename(columns={'2017 NAICS code':'NAICS code'},inplace=True)

C:\Users\yesub\AppData\Local\Temp\ipykernel_53160\4279882074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017.rename(columns={'2017 NAICS code':'NAICS code'},inplace=True)

In [344]:
df_2017

,Geographic Area Name,NAICS code,Meaning of NAICS code,Year,Number of firms,Number of establishments
1,"Autauga County, Alabama",22,Utilities,2017,4,8
2,"Autauga County, Alabama",31-33,Manufacturing,2017,23,23
3,"Autauga County, Alabama",42,Wholesale trade,2017,23,24
4,"Autauga County, Alabama",44-45,Retail trade,2017,155,170
5,"Autauga County, Alabama",48-49(106),Transportation and warehousing(106),2017,17,17
...,...,...,...,...,...,...
60748,"Weston County, Wyoming",62,Health care and social assistance,2017,13,14
60749,"Weston County, Wyoming",62,Health care and social assistance,2017,8,8
60750,"Weston County, Wyoming",72,Accommodation and food services,2017,22,22
60751,"Weston County, Wyoming",81,Other services (except public administration),2017,9,9
60752,"Weston County, Wyoming",81,Other services (except public administration),2017,D,D

In [346]:
df=pd.concat([df_2017,df_2022],ignore_index=True)

In [348]:
df

,Geographic Area Name,NAICS code,Meaning of NAICS code,Year,Number of firms,Number of establishments
0,"Autauga County, Alabama",22,Utilities,2017,4,8
1,"Autauga County, Alabama",31-33,Manufacturing,2017,23,23
2,"Autauga County, Alabama",42,Wholesale trade,2017,23,24
3,"Autauga County, Alabama",44-45,Retail trade,2017,155,170
4,"Autauga County, Alabama",48-49(106),Transportation and warehousing(106),2017,17,17
...,...,...,...,...,...,...
263904,"Weston County, Wyoming",6241,Individual and Family Services,2022,D,D
263905,"Weston County, Wyoming",6241,Individual and Family Services,2022,3,3
263906,"Weston County, Wyoming",6244,Child Care Services,2022,D,D
263907,"Weston County, Wyoming",62441,Child Care Services,2022,D,D
263908,"Weston County, Wyoming",624410,Child Care Services,2022,D,D

In [474]:
ded=pd.read_csv('DisasterDeclarationsSummaries (1).csv',low_memory=False)

In [475]:
ded

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,placeCode,designatedArea,declarationRequestNumber,lastIAFilingDate,incidentId,region,designatedIncidentTypes,lastRefresh,hash,id
0,FM-5530-NV,5530,NV,FM,2024-08-12T00:00:00.000Z,2024,Fire,GOLD RANCH FIRE,0,0,...,99031,Washoe (County),24123,NaN,2024081201,9,R,2024-08-27T18:22:14.800Z,5d07e7c51bb300bfbec94a699a1e1ab1d61a97cd,f15a7a79-f1c3-41bb-8a5c-c05fbae34423
1,FM-5529-OR,5529,OR,FM,2024-08-09T00:00:00.000Z,2024,Fire,LEE FALLS FIRE,0,0,...,99067,Washington (County),24122,NaN,2024081001,10,R,2024-08-27T18:22:14.800Z,ae87cf3c6ed795015b714af7166c7c295b2b67c7,09e3f81a-5e16-4b72-b317-1c64e0cfa59c
2,FM-5528-OR,5528,OR,FM,2024-08-06T00:00:00.000Z,2024,Fire,ELK LANE FIRE,0,0,...,99031,Jefferson (County),24116,NaN,2024080701,10,R,2024-08-27T18:22:14.800Z,432cf0995c47e3895cea696ede5621b810460501,59983f89-30bf-4888-b21b-62e8d57d9aac
3,FM-5527-OR,5527,OR,FM,2024-08-02T00:00:00.000Z,2024,Fire,MILE MARKER 132 FIRE,0,0,...,99017,Deschutes (County),24111,NaN,2024080301,10,R,2024-08-27T18:22:14.800Z,2f21d90cb6bc64b0d4121aa3f18d852bbb4b11fa,8d13ecf0-bc2f-496b-8c9f-b2e73da832a0
4,FM-5522-CA,5522,CA,FM,2024-07-27T00:00:00.000Z,2024,Fire,BOREL FIRE,0,0,...,99029,Kern (County),24102,NaN,2024072701,9,R,2024-08-27T18:22:14.800Z,51ec819011c936f387edf10b9d5839b35419ca95,9b73e19b-d326-4992-8da1-7e658d97607c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67358,DR-9-TX,9,TX,DR,1953-06-19T00:00:00.000Z,1953,Flood,FLOOD,0,1,...,0,Statewide,53010,NaN,53010,6,NaN,2024-08-27T18:22:14.800Z,2488a86cd6660a72865d1e6da2b16eac37753a33,6ef68fa6-5889-466b-9e3b-ee4c06da0876
67359,DR-8-IA,8,IA,DR,1953-06-11T00:00:00.000Z,1953,Flood,FLOOD,0,1,...,0,Statewide,53008,NaN,53008,7,NaN,2024-08-27T18:22:14.800Z,a051dd98c34a0ec2485d0f6b5b11d4d93509ad88,f100b5c1-0f3f-4c3d-ad3c-50040e98ed8d
67360,DR-7-MA,7,MA,DR,1953-06-11T00:00:00.000Z,1953,Tornado,TORNADO,0,1,...,0,Statewide,53009,NaN,53009,1,NaN,2024-08-27T18:22:14.800Z,b720724cfb17afaba95e73a92fdf09b1fd6d0e5f,fca83efc-524a-45a0-ac98-2d43b954a5ea
67361,DR-2-TX,2,TX,DR,1953-05-15T00:00:00.000Z,1953,Tornado,TORNADO & HEAVY RAINFALL,0,1,...,0,Statewide,53003,NaN,53003,6,W,2024-08-27T18:22:14.800Z,8a8bc885c003cb873c201bb6a3a2771a6d84efb1,ff821327-6b90-4246-b19f-fff8c4b288a8
67362,DR-1-GA,1,GA,DR,1953-05-02T00:00:00.000Z,1953,Tornado,TORNADO,0,1,...,0,Statewide,53013,NaN,53013,4,NaN,2024-08-27T18:22:14.800Z,413ff808d79f08a6710f6b78f361d5a7de692711,8943dfcf-9786-4e51-8889-d62014034bb2

In [476]:
ded.columns

Index(['femaDeclarationString', 'disasterNumber', 'state', 'declarationType',
       'declarationDate', 'fyDeclared', 'incidentType', 'declarationTitle',
       'ihProgramDeclared', 'iaProgramDeclared', 'paProgramDeclared',
       'hmProgramDeclared', 'incidentBeginDate', 'incidentEndDate',
       'disasterCloseoutDate', 'tribalRequest', 'fipsStateCode',
       'fipsCountyCode', 'placeCode', 'designatedArea',
       'declarationRequestNumber', 'lastIAFilingDate', 'incidentId', 'region',
       'designatedIncidentTypes', 'lastRefresh', 'hash', 'id'],
      dtype='object')

In [477]:
ded['declarationDate']=pd.to_datetime(ded['declarationDate'])

In [478]:
ded['Year']=ded['declarationDate'].dt.year

In [480]:
ded1322=ded[ded['Year'].between(2013,2022)]

In [483]:
ded1322['Year'].value_counts()

Year
2020    9712
2021    1962
2017    1668
2019    1666
2016    1194
2018    1184
2022    1141
2015     963
2013     771
2014     689
Name: count, dtype: int64

In [486]:
ded1322.loc[ded1322['Year1'].isin([2013, 2014, 2015, 2016]), 'Year'] = 2017
ded1322.loc[ded1322['Year1'].isin([2018,2019,2020,2021]),'Year']=2022

KeyError: 'Year1'

In [487]:
ded1322.reset_index(drop=True)

,femaDeclarationString,disasterNumber,state,declarationType,declarationDate,fyDeclared,incidentType,declarationTitle,ihProgramDeclared,iaProgramDeclared,...,designatedArea,declarationRequestNumber,lastIAFilingDate,incidentId,region,designatedIncidentTypes,lastRefresh,hash,id,Year
0,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,NAKIA CREEK FIRE,0,0,...,Clark (County),22097,NaN,2022101701,10,NaN,2024-08-27T18:22:14.800Z,f7a2b55bd71a46adff580dcd5808d2c46cde5e37,d7d1979f-dd00-4491-b296-c516989957d1,2022
1,FM-5456-WA,5456,WA,FM,2022-10-17 00:00:00+00:00,2023,Fire,NAKIA CREEK FIRE,0,0,...,Skamania (County),22097,NaN,2022101701,10,NaN,2024-08-27T18:22:14.800Z,a75bc8ac9c95e0d9b552ff2bfc1d7ba3d8d3a113,4b793309-fd2f-410d-a0dc-e02e261489e1,2022
2,FM-5455-WA,5455,WA,FM,2022-09-10 00:00:00+00:00,2022,Fire,BOLT CREEK FIRE,0,0,...,King (County),22083,NaN,2022091102,10,NaN,2024-08-27T18:22:14.800Z,06f5319684589388b0cff65409a36745870744bb,3de7f153-7d4d-410a-8cfa-8ed3b72ddfbd,2022
3,FM-5455-WA,5455,WA,FM,2022-09-10 00:00:00+00:00,2022,Fire,BOLT CREEK FIRE,0,0,...,Snohomish (County),22083,NaN,2022091102,10,NaN,2024-08-27T18:22:14.800Z,1c0ae8af0c7cd40f21d3d2cc21d86fbd1ec83f7e,e40e9429-e7d7-4379-b938-b434c2a2dd0d,2022
4,FM-5454-OR,5454,OR,FM,2022-09-10 00:00:00+00:00,2022,Fire,MILO MCIVER FIRE,0,0,...,Clackamas (County),22082,NaN,2022091101,10,NaN,2024-08-27T18:22:14.800Z,cba9d0ea15224c828025907694d74ff21b280a93,6be62111-3488-4f17-aad4-8f8e7ab32157,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20945,DR-4122-AK,4122,AK,DR,2013-06-25 00:00:00+00:00,2013,Flood,FLOODING,0,0,...,Copper River Regional Educational Attendance Area,13035,2013-09-25T00:00:00.000Z,2013060101,10,NaN,2025-01-28T17:41:27.735Z,a21923e5666faac2f8e69a80d2e1c076bb01650a,4058ffdc-90dc-4ac2-9483-8c7b62ad7900,2013
20946,DR-4122-AK,4122,AK,DR,2013-06-25 00:00:00+00:00,2013,Flood,FLOODING,1,0,...,Lower Yukon Regional Educational Attendance Area,13035,2013-09-25T00:00:00.000Z,2013060101,10,NaN,2025-01-28T17:41:27.735Z,54684cafc0a66c344e639a64fc540114d761be0c,ec38205c-05eb-4bd2-8e7f-6c73cc3ce881,2013
20947,DR-4122-AK,4122,AK,DR,2013-06-25 00:00:00+00:00,2013,Flood,FLOODING,1,0,...,Alaska Gateway Regional Educational Attendance...,13035,2013-09-25T00:00:00.000Z,2013060101,10,NaN,2025-01-28T17:41:27.735Z,a968904a3ec7c99b7d0d498e18fb3194dbda1f17,bb7d682c-f142-46f9-940f-f680d40ac04d,2013
20948,DR-4122-AK,4122,AK,DR,2013-06-25 00:00:00+00:00,2013,Flood,FLOODING,1,0,...,Yukon Flats Regional Educational Attendance Area,13035,2013-09-25T00:00:00.000Z,2013060101,10,NaN,2025-01-28T17:41:27.735Z,9eadbb57511d77d282b069f6128be198bdcd7170,a935edab-6c2a-488f-8f60-3b2e7e0a0f76,2013
20949,DR-4122-AK,4122,AK,DR,2013-06-25 00:00:00+00:00,2013,Flood,FLOODING,1,0,...,Yukon Koyukuk Regional Educational Attendance ...,13035,2013-09-25T00:00:00.000Z,2013060101,10,NaN,2025-01-28T17:41:27.735Z,ed0bd23014b0f4d18f3cdd1f1876f614098aacc3,4c4b3f0d-c96f-4c4a-b937-345ce1ea17e0,2013

In [490]:
ded1322['Year'].value_counts()

Year
2020    9712
2021    1962
2017    1668
2019    1666
2016    1194
2018    1184
2022    1141
2015     963
2013     771
2014     689
Name: count, dtype: int64

In [494]:
ded1322['designatedArea'].split('(')

AttributeError: 'Series' object has no attribute 'split'

In [492]:
ded1322.groupby(['designatedArea',])

SyntaxError: unterminated string literal (detected at line 1) (925091349.py, line 1)

In [472]:
df

,Geographic Area Name,NAICS code,Meaning of NAICS code,Year,Number of firms,Number of establishments
0,"Autauga County, Alabama",22,Utilities,2017,4,8
1,"Autauga County, Alabama",31-33,Manufacturing,2017,23,23
2,"Autauga County, Alabama",42,Wholesale trade,2017,23,24
3,"Autauga County, Alabama",44-45,Retail trade,2017,155,170
4,"Autauga County, Alabama",48-49(106),Transportation and warehousing(106),2017,17,17
...,...,...,...,...,...,...
263904,"Weston County, Wyoming",6241,Individual and Family Services,2022,D,D
263905,"Weston County, Wyoming",6241,Individual and Family Services,2022,3,3
263906,"Weston County, Wyoming",6244,Child Care Services,2022,D,D
263907,"Weston County, Wyoming",62441,Child Care Services,2022,D,D
263908,"Weston County, Wyoming",624410,Child Care Services,2022,D,D

In [462]:
df_2017=df_2017.drop(0,axis=0)

KeyError: '[0] not found in axis'

In [464]:
df_2017

,Geographic Area Name,NAICS code,Meaning of NAICS code,Year,Number of firms,Number of establishments
1,"Autauga County, Alabama",22,Utilities,2017,4,8
2,"Autauga County, Alabama",31-33,Manufacturing,2017,23,23
3,"Autauga County, Alabama",42,Wholesale trade,2017,23,24
4,"Autauga County, Alabama",44-45,Retail trade,2017,155,170
5,"Autauga County, Alabama",48-49(106),Transportation and warehousing(106),2017,17,17
...,...,...,...,...,...,...
60748,"Weston County, Wyoming",62,Health care and social assistance,2017,13,14
60749,"Weston County, Wyoming",62,Health care and social assistance,2017,8,8
60750,"Weston County, Wyoming",72,Accommodation and food services,2017,22,22
60751,"Weston County, Wyoming",81,Other services (except public administration),2017,9,9
60752,"Weston County, Wyoming",81,Other services (except public administration),2017,D,D